<div class="main-container">
    <h1>Projects</h1>
    <div class="container">
        <img class="weight" src="assets/weightconverterscreenshot.png" alt="screenshot of weight converter project">
        <div class="overlay">
            <h3>Weight Converter solution that converts pounds (lbs) to kilograms (kg) and kilograms (kgs) to
                pounds (lbs).</h3>
            <button class="visit-site"><a href="https://makia98.github.io/WeightConverter/" target="_blank">Visit
                    Website</a></button>
        </div>
    </div>

    <!-- <div class="overlay">
            <h3>This is a Weight Converter solution that converts pounds (lbs) to kilograms (kg) and kilograms (kgs) to
                pounds (lbs).</h3>
            <button class="visit-site"><a href="https://makia98.github.io/WeightConverter/" target="_blank">Visit
                    Website</a></button>
        </div> -->
</div>