<main>
    <div class="main-container">
        <h1>
            Let's Connect!
        </h1>
        <h2 id="work">Want to work together, say hi, or have any questions?</h2>
        <!-- <div class="contact-div">
            <h3>makia.henderson2000@gmail.com</h3>
        </div> -->
        <div class="contact-form">
            <div class="input-form">
                <form action="submit">
                    <label for="name">Full Name</label>
                    <input type="text" name="name" id="name">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email">
                    <label for="message">Message</label>
                    <input type="text" name="message" id="message">
                    <input type="submit" value="Say Hi!" id="submit-button" />
                </form>
            </div>
            <div class="divider">

            </div>
            <div class="contact-info">
                <h2>Contact</h2>
                <h3>makia.henderson2000@gmail.com</h3>
                <h2>Based in</h2>
                <h3>Huntsville, Alabama</h3>
            </div>
        </div>
    </div>
</main>