<div class="main-container">
    <h1>Skills and Experience</h1>
    <div class="skills-container">
        <div class="skills-bar">
            <p>HTML</p>
            <div class="container">
                <div class="skills html"></div>
            </div>

            <p>CSS</p>
            <div class="container">
                <div class="skills css"></div>
            </div>

            <p>JavaScript</p>
            <div class="container">
                <div class="skills js"></div>
            </div>

            <p>Angular</p>
            <div class="container">
                <div class="skills angular"></div>
            </div>
            <p>Python</p>
            <div class="container">
                <div class="skills python"></div>
            </div>
            <p>Kotlin</p>
            <div class="container">
                <div class="skills kotlin"></div>
            </div>
        </div>
        <div class="experience">
            <div class="work-experience">
                <h2>Web Developer</h2>
                <h3>Radiance Technologies</h3>
                <h4>2023-Now</h4>
                <p>Development and maintence of web product infrastructure using best web development principles.
                    patterns, and processes.</p>
            </div>
            <div class="work-experience">
                <h2>Computer Analyst</h2>
                <h3>Aviation and Missile Solutions</h3>
                <h4>2022-2023</h4>
                <p>Supported development of a high-fidelity network, radio simulation, and analyzed system performance.
                </p>
            </div>
        </div>
    </div>
</div>