<body>
  <div class="nav-bar">
    <ul>
      <li><a href="">Home</a></li>
      <li> <a routerLink="/AboutMe">About</a></li>
      <li><a routerLink="/Skills">Skills</a></li>
      <li><a routerLink="/Projects">Projects</a></li>
      <li><a routerLink='/Contact'>Contact Me</a></li>
    </ul>
  </div>
  <div class="component-container">
    <router-outlet></router-outlet>
  </div>
  <footer>
    <div class="footer-container">
      <img src="../assets/002-github.png " alt="github icon">
      <img src="../assets/linkedin.png" alt="linkedin icon">
      <img src="../assets/003-twitter.png" alt="twitter icon">
      <img src="../assets/002-facebook.png" alt="facebook icon">
      <img src="../assets/001-instagram.png" alt="instagram icon">
    </div>
    <div class="attributions">
      <h3>Copyright © 2023 Makia Henderson - All rights reserved.</h3>
      <h3>Icon made by <a href="https://www.flaticon.com/authors/freepik">Freepik</a> from <a
          href="http://www.flaticon.com/">www.flaticon.com</a></h3>
      <h3>Icon made by <a href="https://www.flaticon.com/authors/pixel-perfect">Pixel perfect</a> from <a
          href="http://www.flaticon.com/">www.flaticon.com</a></h3>
    </div>
  </footer>
</body>